<%- include('partials/header') %>

  <div class="container-fluid">
    <div class="row">
      <%- include('partials/nav') %>

        <%- include("partials/main") -%>

          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container-fluid p-4">
              <h1 class="pb-4">
                <%= title %>
              </h1>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Ruta</th>
                    <th>Etiquetas</th>
                    <th>Fecha de creación</th>
                  </tr>
                </thead>
                <tbody>
                  <% arrFotos.forEach((foto)=> { %>
                    <tr>
                      <td>
                        <%= foto.id %>
                      </td>
                      <td>
                        <%= foto.titulo %>
                      </td>
                      <td>
                        <%= foto.descripcion %>
                      </td>
                      <td>
                        <%= foto.ruta %>
                      </td>
                      <td>
                        <% if (foto.etiqueta && foto.etiqueta.length> 0) { %>
                          <% foto.etiqueta.forEach((etiqueta)=> { %>
                            <li>
                              <%= etiqueta.texto %>
                            </li>
                          <% }) %>
                        <% } else { %>
                          <span class="text-muted">Sin etiquetas</span>
                        <% } %>
                      </td>
                      <td>
                        <%= foto.createdAt.toLocaleDateString('en-US') %>
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            </div>
          </main>
    </div>
  </div>

  <%- include('partials/footer') %>