<%- include('partials/header') %>

    <div class="container-fluid">
        <div class="row">
            <%- include('partials/nav') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="container-fluid p-4">
                        <h1 class="pb-4">
                            <%= title %>
                        </h1>
                        <div class="container">
                            <form id="id-form" class="mt-4" method="GET" action="/fotos/findAllById">
                                <div class="form-group">
                                    <label for="foto-id">Ingrese el ID de la foto:</label>
                                    <input type="number" class="form-control" id="foto-id" name="id"
                                        placeholder="ID de la foto" required>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Buscar</button>
                            </form>
                            <div id="foto-details" class="mt-4">
                                <% if (foto) { %>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">ID: <%= foto.id %>
                                            </h5>
                                            <p class="card-text">Título: <%= foto.titulo || 'No disponible' %>
                                            </p>
                                            <p class="card-text">Descripción: <%= foto.descripcion || 'No disponible' %>
                                            </p>
                                            <p class="card-text">Calificación: <%= foto.calificacion %>
                                            </p>
                                            <p class="card-text">Ruta: <%= foto.ruta || 'No disponible' %>
                                            </p>
                                            <p class="card-text">Etiquetas: <%= (foto.etiquetas &&
                                                    foto.etiquetas.map(e=> e.texto).join(', ')) || 'No disponible' %>
                                            </p>
                                            <p class="card-text">Fecha de Creación: <%= foto.createdAt %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <p>No se encontraron detalles para esta foto.</p>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </main>
        </div>
    </div>

    <%- include('partials/footer') %>