<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("partials/header") -%>

    <div class="container-fluid">
      <div class="row">
        <%- include("partials/nav") -%>

        <%- include("partials/main") -%>
      </div>
    </div>

    <%- include("partials/footer") -%>
  </body>
</html>